<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/fontawesome.min.css"
          integrity="sha512-RvQxwf+3zJuNwl4e0sZjQeX7kUa3o82bDETpgVCH2RiwYSZVDdFJ7N/woNigN/ldyOOoKw8584jM4plQdt8bhA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/login.css">

</head>

<body>
        <div class="fullscreen-container">
            <div class="login-container">
                <h1 class="header">Reset Your Password</h1>
                <form class="form" method="post" action="/reset-password">

                    <div class="input-group">
                        <!-- <label for="password">New Password</label> -->
                        <input type="password" id="password" name="new_password" placeholder="New password">
                    </div>
                    <div class="input-group">
                        <!-- <label for="password">Confirm New Password</label> -->
                        <input type="password" id="password" name="confirm_password" placeholder="Confirm password">
                    </div>
                    <input type="hidden" name="token" value="<%=(typeof token !== 'undefined' && token) ? token : "" %>">
                    <button class="button" type="submit">Set New Password</button>
                </form>

            </div>
        </div>
</body>

</html>
